<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href={{ static('css/reset.css') }}>  
        <link rel="stylesheet" href={{ static('css/genStyle.css') }}>
        <link rel="stylesheet" href={{ static('css/ThemeMenu.css') }}>
        {% block page_styles %}
        {% endblock %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap" rel="stylesheet">
        <title>{% block page_title%}{% endblock %}</title>
    </head>
    
    <body class="body {{theme}}" id = body>
        <div class="load_screen {{theme}}" id="loadScreenId">
            <div class="container">
                <div class="loader">
                    <img class="loader-YobaImg" src={{ static('media/YobaImg.png') }} alt="" pointer-events: none; draggable="false";>
                    <img class="loader-YobaLoader" src={{ static('media/svg/YobaLoader.svg') }} alt="0" pointer-events: none; draggable="false";>
                    <img class="loader-YobaLoaderCircle" src={{ static('media/svg/circle.svg') }} alt="" pointer-events: none; draggable="false";>
                </div>
                <div class="load_screen-text">
                    <p>{% block loading_text%}Загрузка{% endblock %}</p>
                </div>
            </div>
        </div>
    
        <div class="wrapper">
            <header class="header">
                <div class="phone__menu" id="PhoneMenuId">
                    <div class="phone__nav" id="phone__navId">
                        <a href={{ url('index') }}>Главная</a>
                        <a href={{ url('about') }}>О нас</a>
                        {% if request.user.is_anonymous %}
                            <a href={{ url('sign_up') }}>Регистрация</a>
                            <a href={{ url('sign_in') }}>Войти</a>
                        {% else %}
                            <a href ={{url('logout')}}>Выйти({{request.user.name}})</a>
                        {% endif %}
                        
                        <div class="theme_check_box">
                            <div class="new_check_box">
                                <img class="Marker SamuraiCheckMark" id = "SamuraiCheckMark" src={{ static('media/svg/CheckMark.svg') }} alt="">
                                <div class="Circle"></div>
                            </div>
                            <input id="SamuraiCheckBoxId" type="radio">
                            <h4 href="#" onclick="SamuraiTheme()">Samurai</h4>
                        </div>
                        <div class="theme_check_box">
                            <div class="new_check_box">
                                <img class="Marker ForestCheckMark" id = "ForestCheckMark" src={{ static('media/svg/CheckMark.svg') }} alt="">
                                <div class="Circle"></div>
                            </div>
                            <input id="ForestCheckBoxId" type="radio">
                            <h4 href="#" onclick="ForestTheme()">Forest</h4>
                        </div>
                        <div class="theme_check_box">
                            <div class="new_check_box">
                                <img class="Marker FactoryCheckMark" id = "FactoryCheckMark" src={{ static('media/svg/CheckMark.svg') }} alt="">
                                <div class="Circle"></div>
                            </div>
                            <input id="FactoryCheckBoxId" type="radio">
                            <h4 href="#" onclick="FactoryTheme()">Factory</h4>
                        </div>
                        <div class="theme_check_box">
                            <div class="new_check_box">
                                <img class="Marker WhiteAreaCheckMark" id = "WhiteAreaCheckMark" src={{ static('media/svg/CheckMark.svg') }} alt="">
                                <div class="Circle"></div>
                            </div>
                            <input id="WhiteAreaCheckBoxId" type="radio">
                            <h4 href="#" onclick="WhiteAreaTheme()">White area</h4>
                        </div> 
                    </div>
                    
                </div>     
                <div class="container">
                    <a href={{ url('index') }}>
                        <img class="YobaLogo" id="YobaLogo" src={{ static('media/YobaLogo.png') }} alt="YobaClub" pointer-events: none; draggable="false">
                    </a>
                    <div class="header_navigation" id="header_navigationId">
                        <a href={{ url('index') }}>Главная</a>
                        <a href={{ url('about') }}>О нас</a>
                        {% if request.user.is_anonymous %}
                            <a href={{ url('sign_up') }}>Регистрация</a>
                            <a href={{ url('sign_in') }}>Войти</a>
                        {% else %}
                            <a href ={{url('logout')}}>Выйти({{request.user.name}})</a>
                        {% endif %}
                        <div class="theme_menu">
                            <div class="theme_menu-button" onclick="ThemeMenu()">
                                <img class="icon" id="ThemeMenuIcon" src={{ static('media/svg/gear.svg') }} alt="*">
                            </div>
                            <div class="theme_menu_container" id = "ThemeMenuId">
                                <div class="theme_menu_wrapper">
                                    <h4 class="theme_menu_wrapper-title"> Change Theme </h4>
                                    <div class="theme_menu_box">
                                        <div class="theme_check_box">
                                            <div class="new_check_box">
                                                <img class="Marker SamuraiCheckMark" id = "SamuraiCheckMark" src={{ static('media/svg/CheckMark.svg') }} alt="">
                                                <div class="Circle"></div>
                                            </div>
                                            <input id="SamuraiCheckBoxId" type="radio">
                                            <h4 href="#" onclick="SamuraiTheme()">Samurai</h4>
                                        </div>
                                        <div class="theme_check_box">
                                            <div class="new_check_box">
                                                <img class="Marker ForestCheckMark" id = "ForestCheckMark" src={{ static('media/svg/CheckMark.svg') }} alt="">
                                                <div class="Circle"></div>
                                            </div>
                                            <input id="ForestCheckBoxId" type="radio">
                                            <h4 href="#" onclick="ForestTheme()">Forest</h4>
                                        </div>
                                        <div class="theme_check_box">
                                            <div class="new_check_box">
                                                <img class="Marker FactoryCheckMark" id = "FactoryCheckMark" src={{ static('media/svg/CheckMark.svg') }} alt="">
                                                <div class="Circle"></div>
                                            </div>
                                            <input id="FactoryCheckBoxId" type="radio">
                                            <h4 href="#" onclick="FactoryTheme()">Factory</h4>
                                        </div>
                                        <div class="theme_check_box">
                                            <div class="new_check_box">
                                                <img class="Marker WhiteAreaCheckMark" id = "WhiteAreaCheckMark" src={{ static('media/svg/CheckMark.svg') }} alt="">
                                                <div class="Circle"></div>
                                            </div>
                                            <input id="WhiteAreaCheckBoxId" type="radio">
                                            <h4 href="#" onclick="WhiteAreaTheme()">White area</h4>
                                        </div> 
                                    </div>
                                </div>
                            </div>    
                        </div>
                        <button class="phone__menu-button" id="PhoneMenuButton" onclick="PhoneMenu()">
                            <div class="center__Line"></div>
                        </button>
                    </div>
                </div>
                
            </header>
    
            {% block page_content %}
            {% endblock %}
            
            <footer class="footer"> 
                <div class="container">
                    <div class="version">3.0 - alpha<br>Design by Medvils</div>
                    <div class="weather"></div>
                    {% block footer_content %}
                    {% endblock %}
                    <div class="footer_link">
                        <a class="yoba_music_img" href="">
                            <img src={{ static('media/svg/YobaMusicLogo.svg') }} alt="">
                        </a>
                        <a target="_blank" href="https://discord.gg/PVpMB5Yuew">
                            <img src={{ static('media/svg/DiscordLogo.svg') }} alt="">
                        </a>
                        <a target="_blank"  href="https://vk.com/zolupaofficial">
                            <img src={{ static('media/svg/VkLogo.svg') }} alt="">
                        </a>
                    </div>  
                </div>
            </footer>   
        </div>
        {% block under_page_content %}
        {% endblock %}
    <script src={{ static('js/phoneMenu.js') }}></script>
    <script src={{ static('js/SelectTheme.js') }}></script>
    <script src={{ static('js/preloader.js') }}></script>
    {% block page_scripts%}
    {% endblock%}
    </body>

</html>