{% extends 'base.html' %}

{% block page_title %}YobaCinema{% endblock %}

        {% block page_content %}
        <main class="main">
            <div class="container">
                <div class="cinema">
                    
                    <div class="plyr__video-embed" id="player">
                        <iframe class="yoba_iframe"
                            data-poster={{ static('media/YobaLogo.png') }}
                            src="https://www.youtube.com/watch?v=02fFJ24bCdg&ab_channel=808"
                            allowfullscreen
                            allowtransparency
                            allow="autoplay"
                        ></iframe>
                    </div>
                    

                    <div class="cinema_chat">
                        <ul class="message_block">
                            <li class="message">
                                <h4>Name:</h4>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit doloribus accusantium quibusdam doloremque tempora eaque.</p>
                            </li>
                        </ul>
                        
                        <div class="input_block">
                            <input type="text">
                            <button>
                                <img src={{ static('media/svg/Send.svg') }} alt="">
                            </button>

                        </div>
                        
                    </div>
                </div>
            </div>
        </main>
        {% endblock %}

{% block page_scripts %}

    <script src="https://cdn.plyr.io/3.6.12/plyr.js"></script>
    <script src={{ static('js/cinema.js') }}></script>

{% endblock%}

{% block page_styles %}

    <link rel="stylesheet" href={{ static('css/cinema.css') }}>

    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.3/plyr.css" />
{% endblock %}