{% extends 'base.html' %}
{% block page_title %}Yoba Gallery{% endblock %}
        {%block page_content%}
        <main class="main">
            <div id="postItemWindow" class="postitem_window hidden">
                <form class="postitem_form" method="post" enctype="multipart/form-data">
                    
                    <h3 class="form__title">Добавление сущности</h3>

                    <button type="button" id="closePostFormButton" class="close_button">
                        <img class="close_button_img" src={{ static('media/svg/Cross.svg') }} alt="">
                    </button>
                    
                    <div class="form__item">
                        <h3 class="form__item-title">Название сущности</h3>
                        <input name="title" type="text" placeholder="Введите название сущности" required>
                    </div>

                    <div class="form__item">
                        <h3 class="form__item-title">Описание сущности</h3>
                        <input name="description" type="text" placeholder="Введите описание сущности" required>
                    </div>
                    
                    <div class="form__item">
                        <h3 class="form__item-title">Файлы сущности</h3>
                        <input name="thing_files" type="file" multiple>
                    </div>

                    <input class="submit__button" type="submit" value="Добавить сущность">
                </form>
            </div>
            <div id="mainContainer" class="container">
                <div class="gallery">
                    <button id="postItemButton" onclick="showPostItemWindow()" class="gallery-button">Добавить сущность</button>
                    <ul id="galleryList" class="gallery__list">
                    </ul>
                </div>
            </div>
        </main>
        {% endblock %}
{% block page_styles %}
    <link rel="stylesheet" href={{ static('css/gallery.css') }}>
{% endblock %}

{% block page_scripts %}
<script src={{ static('js/gallery.js') }}></script>
{% endblock %}

{% block loading_text %}Доставляем почётных сущностей{% endblock %}