{% extends 'base.html' %}
{% block page_title %}Yoba SignIn{% endblock %}
        {%block page_content%}
        <div class="main">
            <main class="container">
                <div class="signin">
                    <h2>Вход на Yoba-Клуб</h2>
                    <form class="signin__form" method="post">
                        <div class="signin__item">
                            <h3>Логин / Электронная почта</h3>
                            <input class="signin__input" type="text" name="login" required id="login" placeholder="Твой логин или email">
                        </div>
                        <div class="signin__item">
                            <h3>Пароль</h3>
                            <input class="signin__input" type="password" name="password" required pattern="[A-Za-z0-9]{1,150}" id="password" placeholder="Твой пароль">
                        </div>
                        <input class="signin__button" type="submit" value="Войти"> <!-- УБРАТЬ МАМУ ЭТУ-->
                        <div class="line"></div>
                        <div class="signInFooter">
                            <h4>У вас еще нет аккаунта?</h4>
                            <a href={{ url('sign_up') }}>Регистрация</a>
                        </div>
                    </form>
                </div>
            </main>
        </div>
        {% endblock%}
{% block page_styles %}
    <link rel="stylesheet" href={{ static('css/signin.css') }}>
{% endblock%}