{% extends 'base.html' %}

{% block page_title %}Yoba Videos{% endblock %}

        {% block page_content %}
        <div class="main">
            <main class="container" id="mainContainer">
                <div class="video">
                    <div class="video__block">
                        <button onclick="previousVideo()" class="video__block-button left">
                            <img src={{ static('media/svg/ArrowLeft.svg') }} alt="<">
                        </button>
                        <div class="video__player">
                            <div class="video__player-text">
                                <h3 id="video_number"></h3>
                                <h3 id="video_title" class="video_title"></h3>
                            </div>
                            <video id="video_player" autoplay controls="controls">
                                <source class="bibo" type="video/mp4">
                            </video>
                            <div class="video__settings">
                                <button onclick="inThread()">В тред</button>
                                <button onclick="yobaPrompt(15000)">Пост</button>
                                <button id="loopButton" onclick="loop()">Повтор</button>
                                <button id="autoplayButton" onclick="autoplay()">Автопроигрывание</button>
                            </div>
                            <div class="video__settings">
                                <button onclick="removeVideosOfThread()">Удалить видео из треда</button>
                            </div>
                        </div>
                        <button onclick="nextVideo()" class="video__block-button right">
                            <img src={{ static('media/svg/ArrowRight.svg') }} alt=">">
                        </button>
                    </div>
                    
                </div>
            </main>
        </div>
        {% endblock %}
        

{% block footer_content %}
    <div id="notificationForm" class="video__notification hidden" action="">
        <p></p>
    </div>
    <div id="promptForm" class="video_prompt hidden" action="">
        <p>Введи заголовок для поста</p>
        <input id="promptInput" class="prompt_input_field" type="text" placeholder="Введи название видео" required>
        <button onclick="postVideo()" type="button" class="submit__button">Загрузить видео</button>
    </div>
{% endblock%}

{% block page_scripts %}
<script src={{ static('js/videos.js') }}></script>
{% endblock%}

{% block page_styles %}
        <link rel="stylesheet" href={{ static('css/video.css') }}>
{% endblock %}

{% block loading_text %}Ищем для тебя лучшие видеоролики{% endblock %}