.main{
  .container{
    display: flex;
    justify-content: center;
    .cinema{
      display: flex;
      justify-content: center;
      align-items: center;
      .plyr__video-embed {
        margin: 5px;
        max-width: calc(250px + 710 * (100vw / 1920));
        min-width: calc(250px + 710 * (100vw / 1920));
        max-height: calc(147px + 393 * (100vw / 1920));
        min-height: calc(147px + 393 * (100vw / 1920));
        background-color: rgba(255, 0, 0, 0);
        border:0px solid red;
        border-radius: 25px;
        padding: 0 !important;
        iframe{
          border-radius: 25px;
        }
      }
      &_chat{
        position: relative;
        width: 285px;
        max-height: calc(147px + 393 * (100vw / 1920));
        min-height: calc(147px + 393 * (100vw / 1920));
        background-color: rgba(0, 0, 0, 0.25);
        border-radius: 25px;
        display: flex;
        flex-direction: column;

        .message_block{
          margin: 0px 5px 0px 0px;
          overflow-y: scroll;
          border-radius: 25px;
          height: calc(147px + 393 * (100vw / 1920));
          .message{
            font-size: 14px;
            display: flex;
            margin: 10px;
            h4{
              margin-right: 5px;
            }
          }
        }
        
        .input_block{
          display: flex;
          justify-content: flex-end;
          display: flex; 
          flex-wrap: nowrap;
          background-color: rgba(0, 0, 0, 0.25);
          border-radius: 25px;
          padding: 2px;
          margin: 0px 8px 8px 8px;
          input{
            color: rgb(255, 255, 255, 0.75);
            background-color: rgb(255, 255, 255, 0);
            border: 0px;
            font-family: 'Montserrat', sans-serif;
            font-size: 18px; 
          }
          button{
            width: 25px;
            height: 25px;
            background-color: rgba(0, 0, 0, 0);
            border: 0px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
              width: 15px;
              height: 15px;
            }
          }
        }
      }
    }
  }
}
::-webkit-scrollbar {
  height: 10%;
  width: 5px;
  background-color: #14386100;
}
::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 5px; 
}

::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 20px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0, 0.25);
  border-radius: 9em;
}

.plyr--video{
  background-color: rgb(0, 0, 0, 0) !important;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: calc(250px + 710 * (100vw / 1920));
  min-width: calc(250px + 710 * (100vw / 1920));
  max-height: calc(147px + 393 * (100vw / 1920));
  min-height: calc(147px + 393 * (100vw / 1920));
}
html{
  --plyr-color-main: rgba(132, 181, 255, 0.74);
}

@media (min-width:1365px) {
  .cinema{
      transform:scale(calc(((69/100)*1366)/1166)) !important;
  } 
}
@media (min-width:1679px) {
  .cinema{
      transform:scale(calc(((69/100)*1680)/1166)) !important;
  } 
}
@media (min-width:1919px) {
  .cinema{
      transform:scale(calc(((69/100)*1920)/1166)) !important;
  } 
}
@media (min-width:2559px) {
  .cinema{
      transform:scale(calc(((69/100)*2560)/1166)) !important;
  } 
}
@media (min-width:3839px) {
  .cinema{
      transform:scale(calc(((69/100)*3840)/1166)) !important;
  } 
}

