.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    .gallery{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        button{
            margin: 30px 0px 30px 0px;
            background-color: rgb(0, 0, 0, 0.25);
            border: 0px;
            border-radius: 50px;
            padding: 10px;
            color: rgb(255, 255, 255, 0.75);
            font-family: 'Montserrat', sans-serif;
            font-size: 18px;
            transition: 0.4s;
            &:hover{
                background-color: rgb(0, 0, 0, 0.35);
                box-shadow: 0px 0px 15px rgb(255, 255, 255, 0.5);
            }
        }
        &__list{
            width: auto;
            height: 700px;
            overflow-y: scroll;
            border-radius: 15px;
        }
        &__item{
            background-color:rgb(0, 0, 0, 0.25);
            padding: 10px;
            border-radius: 50px;
            display: flex;
            margin: 0px 10px 10px 0px;
            &-text{
                padding: 15px;
                h3{
                    margin: 0px 0px 10px 0px;
                }
            }
        } 
    }
}
}
::-webkit-scrollbar {
    width: 15px;
    background-color: #14386100;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0, 0.25);
    border-radius: 9em;
}
@media (min-width:1365px) {
    .gallery{
        transform:scale(calc(((55/100)*1366)/1160)) !important;
    } 
}
@media (min-width:1679px) {
    .gallery{
        transform:scale(calc(((55/100)*1680)/1160)) !important;
    } 
}
@media (min-width:1919px) {
    .gallery{
        transform:scale(calc(((55/100)*1920)/1160)) !important;
    } 
}
@media (min-width:2559px) {
    .gallery{
        transform:scale(calc(((55/100)*2560)/1160)) !important;
    } 
}
@media (min-width:3839px) {
    .gallery{
        transform:scale(calc(((55/100)*3840)/1160)) !important;
    } 
}