*{
    z-index: 1;
}
*::selection{
    background-color: #7e61ff79;
    color: #ffffff;
}
html, body{
    height: 100%;
}

.wrapper{
    max-height: 100%;
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}


body{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/static/media/SamuraiBacground.png);
    background-color: #373348;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;  
    color: rgba(255, 255, 255, 0.75);
    overflow-y: hidden;
    &.Samurai{
        background-image: url(/static/media/SamuraiBacground.png);
    }
    &.Forest{
        background-image: url(/static/media/ForestBacground.png);
    }
    &.Factory{
        background-image: url(/static/media/FactoryBacground.png);
    }
    &.WhiteArea{
        background-image: url(/static/media/WhiteAreaBacground.png);
    }
    &.done{
        overflow-y: scroll;
    }
    .load_screen{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        background-image: url(/static/media/SamuraiBacground.png);
        &.Samurai{
            background-image: url(/static/media/SamuraiBacground.png);
        }
        &.Forest{
            background-image: url(/static/media/ForestBacground.png);
        }
        &.Factory{
            background-image: url(/static/media/FactoryBacground.png);
        }
        &.WhiteArea{
            background-image: url(/static/media/WhiteAreaBacground.png);
        }
        &.done{
            display: none; 
            animation: 1s LoadScreenDone linear;
        }
        .container{
            .loader{
                min-width: 500px;
                height: 500px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                &-YobaImg{
                    width: 198px;
                    height: 198px;
                    margin: 0;
                    opacity: 75%;
                }
                &-YobaLoader{
                    position: absolute;
                    animation: 1s spin infinite ease-out;
                    opacity: 85%;
                }
                &-YobaLoaderCircle{
                    position: absolute;
                    animation: 2s zoom infinite cubic-bezier(0.65, 0.05, 0.36, 1);;
                    opacity: 85%;
                }
            }
            .load_screen-text{
                margin: 0px 0px 0px 10px;
                width: 900px;
            }
        }
    }
    
    .wrapper{
        .header{
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 8px;
            .phone__menu{
                display: none;
            }
            .container{
                .YobaLogo{
                    cursor: pointer;
                    opacity: 75%;
                    transition: 0.4s;
                    &:hover{
                        opacity: 90%;
                        transition: 0.4s;
                    }
                }
                .header_navigation{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .phone__menu{
                        opacity: 0;
                        visibility: hidden;
                    }
                    button{
                        display: none;
                    }
                    & a{
                        text-decoration: none;
                        color: rgba(255, 255, 255, 0.75);
                        margin: 0px 4px 0px 4px;
                        transition: 0.4s;
                        &:hover{
                            text-decoration: none;
                            color: rgba(255, 255, 255, 0.90);
                            margin: 0px 4px 0px 4px;
                        }
                    }
                }
            }
        }
        .main{
            display: flex;
            justify-content: center;
            width: 100%;
            z-index: 0;
        }
        .footer{
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 8px;
            .container{
                .weather{
                    width: 50px;
                    height: 50px;
                }
                .footer_link{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    & a{
                        transition: 0.4s;
                        &:hover{
                            transform: scale(1.1);
                        }
                        & img{
                            margin:0px 4px 0px 4px;
                            cursor: pointer;
                            opacity: 75%;
                            width: 50px;
                            height: 50px;
                        }
                    }
                }
            }
        }
    }
}

.yoba_music_img{
    display: none;
}

@keyframes LoadScreenDone {
    from{
        opacity: 100%;
    }
    to{
        opacity: 0%;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}

@keyframes zoom {
    0%{
        transform: scale(100%);
    }
    50%{
        transform: scale(110%);
    }
    100%{
        transform: scale(100%);
    }
}



[data-tooltip] {
    position: relative; /* Относительное позиционирование */ 
}
[data-tooltip]::after {
    content: attr(data-tooltip); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
        /* Ширина подсказки */
    left: 0; bottom: 0em; /* Положение подсказки */
    background: rgba(132, 181, 255, 0.74); /* Синий цвет фона */
    color: #fff; /* Цвет текста */
    padding: 0.5em; /* Поля вокруг текста */
    border-radius: 50px;
    font-size: 14px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
    pointer-events: none; /* Подсказка */
    opacity: 0; /* Подсказка невидима */
    transition: 1s; /* Время появления подсказки */
} 
[data-tooltip]:hover::after {
    opacity: 1; /* Показываем подсказку */
    bottom: 3ex; /* Положение подсказки */
}

@media (max-width:725px) {
    body{
        &.nonScroll{
            overflow:hidden;
        }
    }
    .container{
        transition: 0.4s;
        &.blur{
            filter: blur(5px);
            -webkit-filter: blur(5px);
            -moz-filter: blur(5px);
            -o-filter: blur(5px);
            -ms-filter: blur(5px);
        }
    }
    .header_navigation{
        button{
            display: block !important;
        }
        a{
            display: none;
        }
        .theme_menu{
            display: none;
        }
        .phone__menu-button{
            background-color: rgb(0, 0, 0, 0);
            border: 0px;
            width: 50px;
            height: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0px;
            position: relative;
            &::before{
                position: absolute;
                top: 30%;
                left: 0px;
                content: "";

                width: 50px;
                height: 3px;
                border-radius: 50px;
                background-color: rgba(255, 255, 255, 0.75);
                transition: 0.4s;
            }
            .center__Line{
                position: absolute;
                top: 50%;
                left: 5px;
                content: "";

                width: 40px;
                height: 3px;
                border-radius: 50px;
                background-color: rgba(255, 255, 255, 0.75);
                transition: 0.4s;
            }
            &::after{
                position: absolute;
                top: 70%;
                left: 10px;
                content: "";

                width: 30px;
                height: 3px;
                border-radius: 50px;
                background-color: rgba(255, 255, 255, 0.75);
                transition: 0.4s;
            }
            &.on{
                &::before{
                    top: 50%;
                    left: 0px;
                    width: 100%;
                    height: 3px;
                    transform: rotate(-45deg);
                }
                .center__Line{
                    top: 50%;
                    left: 0px;
                    width: 100%;
                    height: 3px;
                    transform: rotate(45deg);
                }
                &::after{
                    top: 100%;
                    opacity: 0;
                }
            }

        }
    }
    .theme_check_box{
        display: flex;
        margin: 4% 0px 4% 0px ;
        align-items: center;
        & input{
            display: none;
        }
        & h4{
            display: flex;    
            cursor: pointer;
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            user-select: none;
            font-size: 36px;
            transition: 0.4s;
            &:hover{
                color: rgba(255, 255, 255, 0.90);
            }
        }
        .new_check_box{
            width: 10px;
            height: 10px;
            margin-right: 10px;
            position: relative;
            .Marker{
                position: absolute;
                left: -1px;
                bottom: 1px;
                opacity: 0;
            }
            .Circle{
                width: 10px;
                height: 10px;
                border: 1px solid #ffffff;
                border-radius: 50%;
            }
            .SamuraiCheckMark.on{
                opacity: 1;
            }
            .ForestCheckMark.on{
                opacity: 1;
            }
            .FactoryCheckMark.on{
                opacity: 1;
            }
            .WhiteAreaCheckMark.on{
                opacity: 1;
            }
        }
    }
    .phone__menu{
        opacity: 1 !important;
        visibility: visible !important;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0%;
        opacity: 0;
        background-color: rgb(0, 0, 0, 0.25);
        transition: 0.8s cubic-bezier(0.65, 0.05, 0.36, 1);
        display: flex !important;
        justify-content: center;
        &.on{
            opacity: 1;
            height: 100%;
        } 
        .phone__nav{
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            align-items: center;
            opacity: 0;
            visibility: hidden;
            transition: 0.4s;
            &.on{
                opacity: 1;
                visibility: visible;
            }
            a{
                text-decoration: none;
                color: rgba(255, 255, 255, 0.75);
                margin: 0px 4px 0px 4px;
                font-size: 36px;
                transition: 0.4s;
                padding: 10px 0px 10px 0px;
            }
        }
    }
}

@media (max-width:590px) {
    .load_screen{
        .container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .loader{
                transform:scale(0.75) !important;
            }
            .load_screen-text{
                width: auto !important;
            }
        }
    }
} 