.main{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    .container{
        justify-content: center;
    }
}
.signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        font-size: 24px;
        font-weight: 700;
        margin: 0px 0px 24px 0px;
    }
    &__form{
        width: 500px;
        height: 550px;
        // width: calc((29/100)*100vw);
        // height: calc((52/100)*100vh);
        border-radius: 10%;
        background-color: rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .signup__item{
            margin: 0px 0px 24px 0px;
            text-align: center;
            h3{
                margin: 0px 0px 8px 0px;
            }
            .signup__input{
                border: 0px;
                width: 358px;
                background-color: rgba(0, 0, 0, 0.25);
                padding:10px;
                border-radius: 50px;
                color: rgba(255, 255, 255, 0.75);
            }
        }
        .signup__button{
            border: 0;
            border-radius: 50px;
            background-color:rgba(0, 0, 0, 0.25);
            color: rgba(255, 255, 255, 0.75);
            font-weight: 400;
            font-size: 18px;
            padding:10px;
            transition: 0.4s;
            font-family: 'Montserrat', sans-serif;
            font-size: 18px;
            &:hover{
                background-color: rgba(0, 0, 0, 0.35);
                box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
            }
            
        }
        .line{
            width: 358px;
            height: 1px;
            background: rgba(255, 255, 255, 0.75);
            border-radius: 45px;
            margin: 36px 0px 0px 0px;
        }
        .SignUpFooter{
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            margin: 36px 0px 0px 0px;
            a{
                text-decoration: none;
                color: rgba(255, 255, 255, 0.75);
                transition: 0.4s;
                margin-left: 8px;
            }
            a:hover{
                transition: 0.4s;
                color: rgba(255, 255, 255, 0.90);
            }
        }
    }
}
@media (min-width:1365px) {
    .signup{
        transform:scale(calc(((29/100)*1366)/500)) !important;
    } 
}
@media (min-width:1679px) {
    .signup{
        transform:scale(calc(((29/100)*1680)/500)) !important;
    } 
}
@media (min-width:1919px) {
    .signup{
        transform:scale(calc(((29/100)*1920)/500)) !important;
    } 
}
@media (min-width:2559px) {
    .signup{
        transform:scale(calc(((29/100)*2560)/500)) !important;
    } 
}
@media (min-width:3839px) {
    .signup{
        transform:scale(calc(((29/100)*3840)/500)) !important;
    } 
}