.main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cinema {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cinema .vjs-poster {
  border-radius: 25px;
}
.cinema .vjs-big-play-button {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  -webkit-transform: translate(-50%, -50%) !important;
          transform: translate(-50%, -50%) !important;
}
.cinema .vjs-control-bar {
  border-radius: 0px 0px 25px 25px !important;
  width: 100% !important;
  left: 50% !important;
  -webkit-transform: translate(-50%, 0px) !important;
          transform: translate(-50%, 0px) !important;
}
.cinema .video-js {
  margin: 5px;
  max-width: calc(250px + 710 * (100vw / 1920));
  min-width: calc(250px + 710 * (100vw / 1920));
  max-height: calc(147px + 393 * (100vw / 1920));
  min-height: calc(147px + 393 * (100vw / 1920));
  background-color: rgba(255, 0, 0, 0);
  border: 0px solid red;
  border-radius: 25px;
}
.cinema .video-js video {
  border-radius: 25px;
}
.cinema .chat {
  position: relative;
  width: 285px;
  max-height: calc(147px + 393 * (100vw / 1920));
  min-height: calc(147px + 393 * (100vw / 1920));
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}
.cinema .chat .message {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px;
}
.cinema .chat .message h4 {
  margin-right: 5px;
}
.cinema .chat .inputblock {
  position: absolute;
  bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  left: 50%;
  -webkit-transform: translate(-50%, -5px);
          transform: translate(-50%, -5px);
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding: 2px;
}
.cinema .chat .inputblock input {
  color: rgba(255, 255, 255, 0.75);
  background-color: rgba(255, 255, 255, 0);
  border: 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}
.cinema .chat .inputblock button {
  width: 25px;
  height: 25px;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cinema .chat .inputblock button img {
  width: 15px;
  height: 15px;
}