.main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main .container .cinema {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .container .cinema .vjs-poster {
  border-radius: 25px;
}
.main .container .cinema .vjs-big-play-button {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  -webkit-transform: translate(-50%, -50%) !important;
          transform: translate(-50%, -50%) !important;
}
.main .container .cinema .vjs-control-bar {
  border-radius: 0px 0px 25px 25px !important;
  width: 100% !important;
  left: 50% !important;
  -webkit-transform: translate(-50%, 0px) !important;
          transform: translate(-50%, 0px) !important;
}
.main .container .cinema .video-js {
  margin: 5px;
  max-width: calc(250px + 710 * (100vw / 1920));
  min-width: calc(250px + 710 * (100vw / 1920));
  max-height: calc(147px + 393 * (100vw / 1920));
  min-height: calc(147px + 393 * (100vw / 1920));
  background-color: rgba(255, 0, 0, 0);
  border: 0px solid red;
  border-radius: 25px;
}
.main .container .cinema .video-js video {
  border-radius: 25px;
}
.main .container .cinema_chat {
  position: relative;
  width: 285px;
  max-height: calc(147px + 393 * (100vw / 1920));
  min-height: calc(147px + 393 * (100vw / 1920));
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main .container .cinema_chat .message_block {
  margin: 0px 5px 0px 0px;
  overflow-y: scroll;
  border-radius: 25px;
  height: calc(147px + 393 * (100vw / 1920));
}
.main .container .cinema_chat .message_block .message {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
}
.main .container .cinema_chat .message_block .message h4 {
  margin-right: 5px;
}
.main .container .cinema_chat .input_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding: 2px;
  margin: 0px 8px 8px 8px;
}
.main .container .cinema_chat .input_block input {
  color: rgba(255, 255, 255, 0.75);
  background-color: rgba(255, 255, 255, 0);
  border: 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}
.main .container .cinema_chat .input_block button {
  width: 25px;
  height: 25px;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .container .cinema_chat .input_block button img {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar {
  height: 10%;
  width: 5px;
  background-color: #14386100;
}

::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 5px;
}

::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 9em;
}

@media (min-width: 1365px) {
  .cinema {
    -webkit-transform: scale(calc(((69/100)*1366)/1166)) !important;
            transform: scale(calc(((69/100)*1366)/1166)) !important;
  }
}
@media (min-width: 1679px) {
  .cinema {
    -webkit-transform: scale(calc(((69/100)*1680)/1166)) !important;
            transform: scale(calc(((69/100)*1680)/1166)) !important;
  }
}
@media (min-width: 1919px) {
  .cinema {
    -webkit-transform: scale(calc(((69/100)*1920)/1166)) !important;
            transform: scale(calc(((69/100)*1920)/1166)) !important;
  }
}
@media (min-width: 2559px) {
  .cinema {
    -webkit-transform: scale(calc(((69/100)*2560)/1166)) !important;
            transform: scale(calc(((69/100)*2560)/1166)) !important;
  }
}
@media (min-width: 3839px) {
  .cinema {
    -webkit-transform: scale(calc(((69/100)*3840)/1166)) !important;
            transform: scale(calc(((69/100)*3840)/1166)) !important;
  }
}