.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50vh;
}
.main .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main .container .video .video__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .container .video .video__block .video__block-button {
  margin: 0px 100px 0px 100px;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  padding: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.main .container .video .video__block .video__block-button img {
  height: 50px;
}
.main .container .video .video__block .video__block-button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.main .container .video .video__block .video__player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main .container .video .video__block .video__player .video__player-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: 0px 0px 5px 0px;
}
.main .container .video .video__block .video__player .video__player-text .video_title {
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 70%;
}
.main .container .video .video__block .video__player video {
  max-width: 640px;
  max-height: 500px;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}
.main .container .video .video__block .video__player .video__settings {
  margin: 5px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.main .container .video .video__block .video__player .video__settings button {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: rgba(0, 0, 0, 0);
  border: rgba(0, 0, 0, 0);
}
.main .container .video .video__block .video__player .video__settings button:hover {
  color: rgba(255, 255, 255, 0.9);
}
.main .container .video .video__block .video__player .video__settings button.active {
  color: rgba(240, 122, 191, 0.75);
}
.main .container .video .video__block .video__player .video__settings button.active:hover {
  color: rgba(240, 122, 191, 0.9);
}

.video__notification {
  position: absolute;
  padding: 25px;
  border-radius: 50px 50px 0px 0px;
  width: calc(32/100*100vw);
  height: calc(6/100*100vh);
  bottom: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-color: rgba(0, 0, 0, 0.25);
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.video__notification.hidden {
  visibility: hidden;
  opacity: 0;
}

.video_prompt {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  padding: 25px;
  border-radius: 50px 50px 0px 0px;
  width: calc(32/100*100vw);
  height: calc(6/100*100vh);
  bottom: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-color: rgba(0, 0, 0, 0.25);
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  visibility: visible;
  opacity: 1;
}
.video_prompt.hidden {
  visibility: hidden;
  opacity: 0;
}
.video_prompt .prompt_input_field {
  background-color: rgba(0, 0, 0, 0.25);
  border: 0px;
  padding: 5px;
  border-radius: 50px;
  color: rgba(255, 255, 255, 0.75);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}
.video_prompt .submit__button {
  background-color: rgba(0, 0, 0, 0.25);
  border: 0px;
  padding: 10px;
  border-radius: 50px;
  color: rgba(255, 255, 255, 0.75);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.video_prompt .submit__button:hover {
  background-color: rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
          box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
}

.yoba_music_img {
  display: block !important;
  border: 0;
  background: 0;
}

.yoba_music_img img {
  width: 50px;
  height: 50px;
}

.yoba_music_img.active {
  -webkit-animation: spin 1.5s infinite linear;
          animation: spin 1.5s infinite linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@media (max-width: 700px) {
  .video_prompt {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 50px;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.55);
    width: auto;
    height: auto;
  }
  .video_prompt p {
    margin: 10px 0px 10px 0px;
  }
  .video_prompt input {
    margin: 0px 0px 10px 0px;
  }
  .video_prompt button {
    margin: 0px 0px 10px 0px;
  }
}
@media (max-width: 890px) {
  .video__block-button {
    margin: 0px !important;
  }
}
@media (max-width: 725px) {
  .video__block-button {
    position: absolute;
  }
  .video__block-button.left {
    left: 0;
    z-index: 2;
  }
  .video__block-button.left:hover {
    -webkit-transform: scale(1) !important;
            transform: scale(1) !important;
  }
  .video__block-button.right {
    right: 0;
    z-index: 2;
  }
  .video__block-button.right:hover {
    -webkit-transform: scale(1) !important;
            transform: scale(1) !important;
  }

  .video__player {
    width: 100vw !important;
    z-index: 1;
  }
  .video__player video {
    width: 100vw !important;
  }
}
@media (min-width: 1365px) {
  .video__block {
    -webkit-transform: scale(calc(((46/100)*1366)/640)) !important;
            transform: scale(calc(((46/100)*1366)/640)) !important;
  }
}
@media (min-width: 1679px) {
  .video__block {
    -webkit-transform: scale(calc(((46/100)*1680)/640)) !important;
            transform: scale(calc(((46/100)*1680)/640)) !important;
  }
}
@media (min-width: 1919px) {
  .video__block {
    -webkit-transform: scale(calc(((46/100)*1920)/640)) !important;
            transform: scale(calc(((46/100)*1920)/640)) !important;
  }
}
@media (min-width: 2559px) {
  .video__block {
    -webkit-transform: scale(calc(((46/100)*2560)/640)) !important;
            transform: scale(calc(((46/100)*2560)/640)) !important;
  }
}
@media (min-width: 3839px) {
  .video__block {
    -webkit-transform: scale(calc(((46/100)*3840)/640)) !important;
            transform: scale(calc(((46/100)*3840)/640)) !important;
  }
}